/* JQM Demos custom CSS */
.jqm-demos.ui-page {
    background-color: #EFF3F6;
}

/* Header */
.jqm-demos .jqm-header {
	background: #EFF3F6;
	border-bottom-color: #BCC7CF;
}
.jqm-demos .jqm-header h2 {
	padding: .4em 0 .1em;
	margin: 0 3em;
}
.jqm-demos .jqm-header h2 a {
	display: inline-block;
	text-decoration: none;
	min-height: 40px;
}
.jqm-demos .jqm-header h2 img {
	display: block;
	width: 140px;
	height: auto;
}
.jqm-demos .jqm-header h2 > img {
	display: inline-block;
}
.jqm-demos .jqm-header p {
	position: absolute;
	bottom: -2em;
	left: 1em;
	margin: 0;
	color: #666;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}
.jqm-demos .jqm-header .ui-btn {
	width: 2em;
	height: 2em;
	background: none;
	border: 0;
	top: 50%;
	margin-top: -1em;
	-webkit-border-radius: .3125em;
	border-radius: .3125em;
	opacity: .4;
	filter: Alpha(Opacity=40);
}

/* Footer */
.jqm-demos .jqm-footer.ui-footer {
	position: absolute;
	bottom: 0;
	padding-bottom: 0;
    background-color: #EFF3F6;
}
.jqm-demos .jqm-footer {
	border-top: 1px solid #BCC7CF;
}
.jqm-demos .jqm-footer p {
	font-size: .8em;
	color: #999;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0 1.25em 1.25em;
}
.jqm-demos .jqm-footer p:first-child {
	font-size: 1em;
	color: #666;
	font-weight: 400;
	margin: 1em 1em .75em;
}

/* Content */
.jqm-demos .jqm-content {
	padding-top: 3em;
    background-color: #EFF3F6;
}
.jqm-demos .jqm-content > h1,
.jqm-demos .jqm-content > h2,
.jqm-demos .jqm-content > h3,
.jqm-demos .jqm-content > p,
.jqm-demos .jqm-content > ul li,
.jqm-demos .jqm-content > a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.jqm-demos .jqm-content > h1 {
	font-size: 2.4em;
	margin: 0 0 .625em;
}
.jqm-demos .jqm-content > h2 {
	color: #424548;
	background-color: transparent;
	border-bottom: 1px solid #ddd;
	font-size: 1.6em;
	padding-bottom: .2em;
	margin: 2em 0 .7375em;
}
.jqm-demos .jqm-content > h2.first {
    margin: 0 0 .7375em;
}
.jqm-demos .jqm-content > h3 {
	color: #424548;
	background-color: transparent;
	font-size: 1.4em;
	margin: 0 0 1em;
}
.jqm-demos .jqm-content > p {
	font-size: 1.2em;
	line-height: 1.5;
}
.jqm-demos .jqm-content > ul:not(.jqm-list) li {
	font-size: 1.2em;
	line-height: 1.5;
}
.jqm-demos .jqm-content > p {
	margin: 0 0 1.25em;
}
.jqm-demos .jqm-content > ul,
.jqm-demos .jqm-content > ol {
	padding-left: 1.3em;
}
.jqm-demos .jqm-content > .ui-listview {
	padding-left: 0;
}
.jqm-demos .jqm-content > a,
.jqm-demos .jqm-content > p a,
.jqm-demos .jqm-content > ul:not(.jqm-list) li a {
	font-weight: 400;
	text-decoration: none;
}
.jqm-demos .jqm-content strong {
	font-weight: 700;
}
.jqm-demos .jqm-content > p strong {
	font-weight: 400;
}

/* Homepage */
.jqm-content > .devices {
	width: 400px;
	max-width: 100%;
	display: block;
	margin: 2.5em 0;
}
.jqm-home .ui-grid-a {
	margin: 2.5em -.5em -.5em;
}
.jqm-block-content {
	margin: .5em;
	padding: 1em;
	background: #fff;
	border: 1px solid #eee;
	-webkit-border-radius: .3125em;
	border-radius: .3125em;
	font-family: 'Open Sans', sans-serif;
}
.jqm-block-content h3 {
	font-size: 1.5em;
	font-weight: 300;
	color: #424548;
	border-bottom: 1px solid #ddd;
	padding-bottom: .25em;
	margin: 0 0 .5em;
}
.jqm-block-content p {
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.4;
	margin: .7em 0;
}
.jqm-block-content p:last-child {
	margin-bottom: 0;
}
.jqm-block-content a:link {
	font-weight: 300;
	text-decoration: none;
}

/* Code */
.jqm-content pre,
.jqm-content code {
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	background: #e5e5e5;
	background: rgba(0,0,0,.05);
	padding: 0 .125em;
}
.jqm-content pre {
	padding: 0 1em 1.2em;
	white-space: pre-wrap;
}
.jqm-content pre > code {
	padding: 0;
	background: none;
	font-size: .9em;
}

/* Lists */
.jqm-demos .jqm-search .jqm-list {
	margin: 0 -1em 1em;
}
.jqm-demos .jqm-list .ui-btn,
.jqm-demos .jqm-list .ui-btn:visited,
.jqm-demos .jqm-list .ui-li-divider {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-shadow: none !important;
}
.jqm-demos .jqm-list .ui-btn:hover,
.jqm-demos .jqm-list .ui-btn:active {
	color: #3388cc;
}
.jqm-demos .jqm-list .ui-btn.ui-btn-active {
	color: #fff;
}
.jqm-demos .jqm-list .ui-li-divider {
	color: #424548;
}

/* Navmenu */
.jqm-navmenu-panel .ui-listview > li .ui-collapsible-heading {
	margin: 0;
}
.jqm-navmenu-panel .ui-collapsible.ui-li-static {
	padding: 0;
	border: none !important;
}
.jqm-navmenu-panel .ui-collapsible + li > .ui-btn,
.jqm-navmenu-panel .ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn,
.jqm-navmenu-panel .ui-panel-inner > .ui-listview > li.ui-first-child .ui-btn {
	border-top: none !important;
}
.jqm-navmenu-panel .ui-listview .ui-listview .ui-btn {
	padding-left: 1.5em;
	color: #999;
}
.jqm-navmenu-panel .ui-listview .ui-listview .ui-btn.ui-btn-active {
	color: #fff;
}
.jqm-navmenu-panel .ui-btn:after {
	opacity: .4;
	filter: Alpha(Opacity=40);
}
.jqm-demos .jqm-navmenu-panel.jqm-panel-page-nav {
	display: none;
	position: absolute;
	top: 178px;
	left: 12px;
}
.jqm-demos .jqm-navmenu-panel.jqm-panel-page-nav ul li:first-child a{
	border-top: none;
}

.jqm-demos .jqm-navmenu-panel {
    background: #313B3F;
}

.jqm-demos .jqm-navmenu-panel .ui-link {
    background-color: #313B3F !important;
    border-top: 1px solid #404A4E !important;
}

.jqm-demos .jqm-navmenu-panel .ui-listview a.ui-link {
    color: #9BA5AC;
    text-shadow: none;
}

.jqm-demos .jqm-navmenu-panel .ui-listview li.ui-li-divider.ui-bar-inherit {
    background-color: #20282B !important;
    text-shadow: none;
    color: #9BA5AC;
    font-size: 18px;
    border-top: 1px solid #404A4E;
}

.jqm-demos .jqm-navmenu-panel .ui-listview li.ui-last-child a {
    border-bottom: 1px solid #404A4E;
}
        
/* Search */
.jqm-search-panel .ui-panel-inner {
	padding-top: 0;
}
.jqm-search-panel .ui-input-search {
	margin: 1em 0;
}
.jqm-search-panel .ui-input-search.ui-focus {
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
}
.jqm-list .jqm-search-results-keywords {
    padding: .46857em 0 0;
    font-size: .8em;
    font-weight: 300;
    color: #999;
    display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.ui-btn-active .jqm-search-results-keywords {
    color: #fff;
}
.jqm-search-results-highlight {
    color: #3388cc;
    font-weight: 400;
}
.ui-btn-active .jqm-search-results-highlight {
    color: #fff;
    font-weight: 300;
}

/* Quick links */
.jqm-demos .jqm-content .jqm-deeplink {
	display: block;
	color: #999;
	font-weight: 300;
	border-top: 1px solid #eee;
	text-align: right;
	padding-top: .2em;
	margin: 0 0 1.5em;
}
.jqm-demos .jqm-content .jqm-deeplink:after {
	content: "";
	display: block;
	float: right;
	margin: .1em 0 0 .5em;
	width: 1em;
	height: 1em;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: .4;
	filter: Alpha(Opacity=40);
}

/* View source links */
.jqm-demos .jqm-content .jqm-view-source-link,
.jqm-demos .jqm-content .jqm-view-source-link:visited,
.jqm-demos .jqm-content .jqm-view-source-link:hover,
.jqm-demos .jqm-content .jqm-view-source-link:active {
	color: #424548;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin: 2em 0 1.5em 1em;
}
.jqm-demos .jqm-content .jqm-view-source-link.ui-btn-active:link {
	color: #fff;
}

@media (min-width: 60em) {
	.jqm-demos .jqm-header h2 {
		padding: 1em 0 .7em;
		margin: 0 1em 0 3%;
		text-align: left;
	}
	.jqm-demos .jqm-header h2 img {
		width: 275px;
	}
	.jqm-demos .jqm-header p {
		bottom: auto;
		left: auto;
		top: 50%;
		right: 3%;
		font-size: 1.2em;
		margin-top: -.625em;
	}
	.jqm-demos .jqm-navmenu-link {
		display: none;
	}
	.jqm-demos .jqm-search-link {
		right: 3%;
	}
	.jqm-demos .jqm-footer p {
		float: right;
		margin: 1.5em 3% 1.5em 1.5em;
	}
	.jqm-demos .jqm-footer p:first-child {
		float: left;
		margin: 1.25em 1.25em 1.25em 3%;
	}
	.jqm-demos .jqm-navmenu-panel {
		visibility: visible;
		position: relative;
		left: 0;
		float: left;
		width: 20%;
		-webkit-transition: none !important;
		-moz-transition: none !important;
		transition: none !important;
		-webkit-transform: none !important;
		-moz-transform: none !important;
		transform: none !important;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.jqm-demos.jqm-panel-page .jqm-navmenu-panel {
		display: none;
	}
	html .jqm-demos.jqm-panel-page .jqm-navmenu-panel.jqm-panel-page-nav {
		display: block;
	}
	.jqm-demos .jqm-navmenu-panel .ui-panel-inner {
		margin-bottom: 3em;
	}
	.jqm-demos .jqm-content {
		width: 72%;
		padding-top: 2em;
		padding-left: 5%;
		padding-right: 3%;
		float: right;
	}
    .jqm-demos .jqm-content.jqm-fullwidth {
		width: auto;
		padding-left: 15%;
		padding-right: 15%;
		float: none;
	}
	.jqm-navmenu-panel .ui-listview .ui-btn {
		padding-left: 12.5%;
	}
	.jqm-navmenu-panel .ui-listview .ui-listview .ui-btn {
		padding-left: 15%;
	}
	.jqm-navmenu-panel .ui-collapsible,
	.jqm-navmenu-panel .ui-collapsible-content,
	.jqm-navmenu-panel .ui-btn {
		background: none !important;
		border-top: 1px solid #404A4E !important;
	}
	.jqm-navmenu-panel .ui-btn.ui-btn-active {
		color: #3388cc !important;
	}
	.jqm-navmenu-panel .ui-btn::after {
		opacity: 0;
		-webkit-transition: opacity 500ms ease;
		-moz-transition: opacity 500ms ease;
		transition: opacity 500ms ease;
	}
	.jqm-navmenu-panel .ui-btn:hover::after {
		opacity: .4;
	}
	.jqm-search-panel {
		width: 26em;
		right: -26em;
		z-index: 1003; /* Puts the panel on top of the dismiss modal which is not adjusted to custom width */
	}
	.jqm-search-panel.ui-panel-animate.ui-panel-position-right {
		-webkit-transform: translate3d(26em,0,0);
		-moz-transform: translate3d(26em,0,0);
		transform: translate3d(26em,0,0);
	}
	.ui-panel-dismiss-open.ui-panel-dismiss-position-right {
		left: -17em;
		right: 17em;
	}
}
@media (min-width: 35em) {
	.jqm-block-content {
		min-height: 18em;
	}
}

/* View source popup */
#jqm-view-source-popup.ui-popup-container {
	width: 90%;
	max-width: 1500px;
}
.jqm-view-source .ui-collapsible-set {
	margin: 0;
}
.jqm-view-source .ui-collapsible-heading .ui-btn {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.jqm-view-source .ui-collapsible-heading .ui-btn-inner {
	padding: .4em;
}
.jqm-view-source .ui-collapsible-content {
	padding: 0;
	overflow: auto;
}
.jqm-view-source .ui-collapsible-content .phpStatus {
	padding: 1em;
}
.jqm-view-source .ui-collapsible-content > div,
.jqm-view-source .ui-collapsible-content .syntaxhighlighter {
	border-bottom-right-radius: inherit;
	border-bottom-left-radius: inherit;
}
.jqm-view-source .ui-collapsible-content::-webkit-scrollbar {
    width: 5px;
}
.jqm-view-source .ui-collapsible-content::-webkit-scrollbar-track {
    background: transparent;
}
.jqm-view-source .ui-collapsible-content::-webkit-scrollbar-thumb {
	background: #435A5F;
	border: solid #222;
	border-width: 12px 2px 12px 0;
	border-bottom-right-radius: 5px;
}
.jqm-view-source .ui-collapsible-content td.code .container > textarea {
	resize: none;
}

/* Button C - HTML */
.jqm-view-source .ui-btn.ui-btn-c,
.jqm-view-source .ui-btn.ui-btn-c:visited,
.jqm-view-source .ui-btn.ui-btn-c:hover,
.jqm-view-source .ui-btn.ui-btn-c:active,
.jqm-view-source .ui-btn.ui-btn-c.ui-btn-active {
	background: #005aff;
	border-color: #0033cc;
	color: #fff;
	text-shadow: 0 1px 0 #0033cc;
}
/* Button D - PHP */
.jqm-view-source .ui-btn.ui-btn-d,
.jqm-view-source .ui-btn.ui-btn-d:visited,
.jqm-view-source .ui-btn.ui-btn-d:hover,
.jqm-view-source .ui-btn.ui-btn-d:active,
.jqm-view-source .ui-btn.ui-btn-d.ui-btn-active {
	background: #ed1c24;
	border-color: #ff0000;
	color: #fff;
	text-shadow: 0 1px 0 #ff0000;
}
/* Button E - JS */
.jqm-view-source .ui-btn.ui-btn-e,
.jqm-view-source .ui-btn.ui-btn-e:visited,
.jqm-view-source .ui-btn.ui-btn-e:hover,
.jqm-view-source .ui-btn.ui-btn-e:active,
.jqm-view-source .ui-btn.ui-btn-e.ui-btn-active {
	background: #424548;
	border-color: #108040;
	color: #fff;
	text-shadow: 0 1px 0 #108040;
}
/* Button F - CSS */
.jqm-view-source .ui-btn.ui-btn-f,
.jqm-view-source .ui-btn.ui-btn-f:visited,
.jqm-view-source .ui-btn.ui-btn-f:hover,
.jqm-view-source .ui-btn.ui-btn-f:active,
.jqm-view-source .ui-btn.ui-btn-f.ui-btn-active {
	background: #ec008c;
	border-color: #cc0099;
	color: #fff;
	text-shadow: 0 1px 0 #cc0099;
}

/** Ext **/
.jqm-demos .jqm-content > form > h1,
.jqm-demos .jqm-content > form > h2,
.jqm-demos .jqm-content > form > h3,
.jqm-demos .jqm-content > form > p,
.jqm-demos .jqm-content > form > ul li,
.jqm-demos .jqm-content > form > a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.jqm-demos .jqm-content > form > h1 {
	font-size: 2.4em;
	margin: 0 0 .625em;
}
.jqm-demos .jqm-content > form >h2 {
	color: #424548;
	background-color: transparent;
	border-bottom: 1px solid #ddd;
	font-size: 1.6em;
	padding-bottom: .2em;
	margin: 2em 0 .7375em;
}
.jqm-demos .jqm-content > form > h2.first {
    margin: 0 0 .7375em;
}
.jqm-demos .jqm-content > form >h3 {
	color: #424548;
	background-color: transparent;
	font-size: 1.4em;
	margin: 0 0 1em;
}
.jqm-demos .jqm-content > form > p {
	font-size: 1.2em;
	line-height: 1.5;
}

/* Themes */
.ui-theme {background: url("#{resource['demo/images/themes.png']}") no-repeat top left;display: block;}
.ui-theme.ui-theme-afterdark{ background-position: 0 0; width: 30px; height: 25px; } 
.ui-theme.ui-theme-afternoon{ background-position: 0 -75px; width: 30px; height: 25px; } 
.ui-theme.ui-theme-afterwork{ background-position: 0 -150px; width: 30px; height: 25px; } 
.ui-theme.ui-theme-aristo{ background-position: 0 -225px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-black-tie{ background-position: 0 -302px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-blitzer{ background-position: 0 -379px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-bluesky{ background-position: 0 -456px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-bootstrap{ background-position: 0 -533px; width: 30px; height: 26px; } 
.ui-theme.ui-theme-casablanca{ background-position: 0 -609px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-cruze{ background-position: 0 -686px; width: 30px; height: 25px; } 
.ui-theme.ui-theme-cupertino{ background-position: 0 -761px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-dark-hive{ background-position: 0 -838px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-delta{ background-position: 0 -915px; width: 30px; height: 30px; } 
.ui-theme.ui-theme-dot-luv{ background-position: 0 -995px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-eggplant{ background-position: 0 -1072px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-excite-bike{ background-position: 0 -1149px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-flick{ background-position: 0 -1226px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-glass-x{ background-position: 0 -1303px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-home{ background-position: 0 -1380px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-hot-sneaks{ background-position: 0 -1457px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-humanity{ background-position: 0 -1534px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-le-frog{ background-position: 0 -1611px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-midnight{ background-position: 0 -1688px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-mint-choc{ background-position: 0 -1765px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-overcast{ background-position: 0 -1842px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-pepper-grinder{ background-position: 0 -1919px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-redmond{ background-position: -80px 0; width: 30px; height: 27px; } 
.ui-theme.ui-theme-rocket{ background-position: -80px -77px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-sam{ background-position: -80px -154px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-smoothness{ background-position: -80px -231px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-south-street{ background-position: -80px -308px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-start{ background-position: -80px -385px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-sunny{ background-position: -80px -462px; width: 30px; height: 25px; } 
.ui-theme.ui-theme-swanky-purse{ background-position: -80px -537px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-trontastic{ background-position: -80px -614px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-ui-darkness{ background-position: -80px -691px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-ui-lightness{ background-position: -80px -768px; width: 30px; height: 27px; } 
.ui-theme.ui-theme-vader{ background-position: -80px -845px; width: 30px; height: 27px; } 

.logoDarkText{color:#5c666a;}
.logoBlueText{color:#25aae1;}